*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color: #fff;
}

nav{
	width: 100%;
	height: 50px;
	/* border: 1px solid red; */
	background-color: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
ul{
	width: 30%;
	height: inherit;
	/* border: 1px solid red; */
	display: flex;
	align-items: center;
	justify-content: space-between;	
}
li{
	list-style-type: none;
	font-weight: bolder;
	font-family: sans-serif;
	font-size: 12px;
}
.right{
	width: 5%;
	height: inherit;
	/* border: 1px solid red; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 50px;
}
.logo{
	font-family: cursive;
	font-size: 14px;
	margin-left: 30px;
}
header{
	width: 100%;
	height: 500px;
	background-image: url(interior\ 9.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.wordings{
	width: 60%;
	height: 120px;
	position: absolute;
	top: 260px;
	margin-left:250px ;	
}
.elegant{
	text-align: center;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: bold;
	color: grey;
}
.bold{
	text-align: center;
	color: #fff;
	font-weight: light;
	font-family: cursive;
	font-size: 38px;
	width:100%;
	letter-spacing:5px;
}
.words{
	color: gray;
	font-size: 12px;
	font-weight: light;
	font-family: sans-serif;
	text-align: center;
	width: 73%;
	height: 30px;
	margin:auto;
	background-color: rgb(234, 219, 219);
}
.contact{
	display:block;
	margin: 10px auto;
	padding: 10px 20px;
	border:none;
	font-size: 12px;
	font-weight: light;
	cursor: pointer;
	
}
section{
	width: 100%;
	height: 700px;
	/* background-color: orange; */

}
.start{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	font-family: sans-serif;
	margin-top: 30px;
	color: hsla(0, 0%, 0%, 0.447);
}
.journey{
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	font-family: sans-serif;
	color: hsla(0, 0%, 0%, 0.447);
	padding-top: 5px;
}
.sample{
	width: 60%;
	height: 35px;
	/* border: 1px solid #000; */
	margin: 5px auto;
	text-align: center;
	/* background-color: brown; */
	color: rgba(203, 201, 197, 0.929);
	font-weight: lighter;
	font-family: cursive;
	font-size: 12px;

}
.triplet{
	width: 85%;
	height: 320px;
	/* border: 1px solid red; */
	margin: 25px auto;
	display: flex;
	justify-content: space-between;

}
.identical{
		width: 28%;
		height: 260px;
		border: 2px solid #eae7e7;
		border-radius: 10px;

}
#window{
	font-size: 35px;
	color: hsla(159, 11%, 52%, 0.852);
	margin: 0.7em 4em;
}
.high{
	text-align: center;
	font-weight: lighter;
	font-family: sans-serif;
	font-size: 22px;
}
.advert{
	text-align: center;
	padding-top: 10px;
}



