*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-color: #fff;
}

nav{
	width: 100%;
	height: 50px;
	/* border: 1px solid red; */
	background-color: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
ul{
	width: 30%;
	height: inherit;
	/* border: 1px solid red; */
	display: flex;
	align-items: center;
	justify-content: space-between;	
}
li{
	list-style-type: none;
	font-weight: bolder;
	font-family: sans-serif;
	font-size: 12px;
}
li:hover{
	color: orange;
	cursor: pointer;
}
.right{
	width: 5%;
	height: inherit;
	/* border: 1px solid red; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 50px;
}
.logo{
	font-family: cursive;
	font-size: 14px;
	margin-left: 30px;
}
.logo:hover{
	color: rgb(109, 109, 230);
	cursor: pointer;
}
header{
	width: 100%;
	height: 500px;
	background-image: url(interior\ 9.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.wordings{
	width: 60%;
	height: 120px;
	position: absolute;
	top: 260px;
	margin-left:250px ;	
}
.elegant{
	text-align: center;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: bold;
	color: #fff;
}
.bold{
	text-align: center;
	color: #fff;
	font-weight: light;
	font-family: cursive;
	font-size: 38px;
	width:100%;
	letter-spacing:5px;
}
.words{
	color: #fff;
	font-size: 12px;
	font-weight: light;
	font-family: sans-serif;
	text-align: center;
	width: 73%;
	height: 30px;
	margin:auto;
	/* background-color: rgb(234, 219, 219); */
}
.contact{
	display:block;
	margin: 10px auto;
	padding: 10px 20px;
	border:none;
	font-size: 12px;
	font-weight: light;
	cursor: pointer;
	
}
.contact:hover{
	background-color: #fff;
	color: #ed6767;
	font-weight: bolder;
}
section{
	width: 100%;
	height: 1600px;
	/* background-color: orange; */

}
.start{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	font-family: sans-serif;
	margin-top: 30px;
	color: hsla(0, 0%, 0%, 0.447);
}
.journey{
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	font-family: sans-serif;
	color: hsla(0, 0%, 0%, 0.447);
	padding-top: 5px;
}
.sample{
	width: 60%;
	height: 35px;
	/* border: 1px solid #000; */
	margin: 5px auto;
	text-align: center;
	/* background-color: brown; */
	color: rgba(203, 201, 197, 0.929);
	font-weight: lighter;
	font-family: cursive;
	font-size: 12px;

}
.triplet{
	width: 85%;
	height: 320px;
	/* border: 1px solid red; */
	margin: 25px auto;
	display: flex;
	justify-content: space-between;

}
.identical{
		width: 28%;
		height: 260px;
		border: 2px solid #eae7e7;
		border-radius: 10px;

}
.identical:hover{
	background-color: antiquewhite;
	cursor: pointer;
}
#window{
	font-size: 35px;
	color: hsla(159, 11%, 52%, 0.852);
	margin: 0.7em 4em;
}
.high{
	text-align: center;
	font-weight: lighter;
	font-family: sans-serif;
	font-size: 22px;
}
.advert{
	text-align: center;
	padding-top: 10px;
}

.bigholder{
	width: 95%;
	height: 600px;
	/* border: 1px solid #000; */
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.wordsOnly{
	width: 26%;
	height: 350px;
	/* border: 1px solid red; */
	margin: 5em 0em 0em 2.5em ;
	padding-top: 5em;
}
.intro{
	font-size: 27px;
	color: rgb(160, 166, 171);
	font-weight: light;
	font-family: sans-serif;
	/* padding-left: 5px; */

}
.faded{
	/* text-align: left; */
	padding-top: 10px;
	font-weight: light;
	/* font-family: sans-serif; */

}
.more{
	padding: 10px 20px;
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	display: block;
	background-color: hsl(0, 1%, 21%);
	color: #fff;
	text-transform: uppercase;
	margin-top: 50px;
	border: none;
}
.more:hover{
	background-color: brown;
	color: #eae7e7;
	cursor: pointer;
}
.bigPicture{
	width: 55%;
	height: 500px;
	/* border: 1px solid red; */
	display: flex;
	justify-content: space-between;
	margin-top: 48px;
	position: relative;

}
.inter-one{
	width: 400px;
	height: 400px;
	border: none;
	border-radius: 5px;
}
.inter-two{
	width: 250px;
	height: 450px;
	margin-top: 40px;
	border: none;
	border-radius: 5px;
}
.whiteboard{
	width: 75%;
	height: 200px;
	margin-left: 20px;
	background-color: #f4bdbd;
	/* border: 1px solid black; */
	position: absolute;
	top: 330px;
	border: none;
	border-radius: 5px;
}
.avatar{
	width: 38%;
	height: 50px;
	/* border: 1px solid red; */
	margin: 25px 0px 0px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.avatar img{
	width: 40px;
	height: 40px;
	border-radius: 100%;
}
.avatar-intro{
	padding:10px 0px 0px 21px;
}
.avatar-bttn{
	padding: 10px 20px;
	background-color: #000;
	color: #fff;
	border: none;
	display: block;
	margin: 10px 0px 0px 20px;
}
.avatar-bttn:hover{
	background-color: antiquewhite;
	color: rgba(59, 57, 54, 0.811);
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 12px;
	font-family: cursive;
}
.next-layer{
	width: 95%;
	height: 450px;
	/* border: 1px solid red; */
	/* background-color: #ff0; */
	margin:  auto;
	display: flex;
	justify-content: space-around;
	
}
.arrow-holder{
	/* border: 1px solid red; */
	width: 70px;
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px auto;
}
.arrow{
	background-color: #0000005e;
	color: #fff;
	width: 30px;
	height: 30px;
	border: none;
}
.arrow:hover{
	background-color: chartreuse;
	color: aliceblue;
	cursor: pointer;
}
main{
	width: 100%;
	height: 700px;
	/* background-color: aquamarine; */
}
.sledge{
	width: 95%;
	height: 600px;
	/* border: 1px solid red; */
	margin: 35px auto;
	display: flex;
}
.icon-edge{
	width: 39%;
	height: 550px;
	/* border: 1px solid #000; */
	margin: 30px 50px;
}
.letter-head{
	font-size: 25px;
	font-family: san-serif;
	font-weight: bold;
	text-align: left;
	padding-top: 30px;
	color: #00000044;
}

.alone{
	letter-spacing: 2px;
	font-weight: bold;

}
.flex-holder{
	width: 100%;
	height: 450px;
	/* border: 1px solid red; */
}
.flex-child{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 80px;
	/* border: 1px solid blue; */
	margin-top: 30px;
}
#hicoon{
	width: 80px;
	height: 80px;
	/* border: 1px solid red; */
	color: #eae7e7;
	font-size: 50px;
	display: flex;
	align-items: center;
}

.flex-text{
	width: 360px;
	height: 40px;
	/* border: 1px solid #000; */
	padding: 5px 2px;
	font-size: 12px;
}
.title{
	font-size: 23px;
	color: #8d8b8bcc;
	font-weight: lighter;
	font-family: cursive;
}
.tripleHolder{
	width: 57%;
	height: inherit;
	/* border: 1px solid red; */
	display: flex;
	justify-content: space-around;
	margin-right: 30px;

	/* display: grid;
	grid-template-columns: 1fr 2fr; */

	} 

.tripleHolder img{
	width: 300px;
	height: inherit;
	border-radius: 5px;
}
.layers{
	width: 200px;
	height: 350px;
	border-radius: 5px;
}
.insignale{
	width: 300px;
	height: inherit;
	/* border: 2px solid #000; */
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	gap: 10px;
	
}

